{% load static %}
<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <title>إنشاء دفع جديد</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <!-- استيراد ملف CSS -->

    <style>
      #id_ticket {
        width: 200px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <!-- إضافة div لتوسيع العناصر -->
      <h1>إنشاء دفع جديد</h1>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <!-- عرض النموذج كفقاعات -->
        <button type="submit">إنشاء دفع</button>
      </form>
    </div>
  </body>
</html>
